# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
*.spec.bak
venv/
.venv/

# PyInstaller
*.manifest
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store


# Build dependencies
wheelhouse/
